{% extends 'base.html' %}

{% block title%} About us {% endblock %}

{% block content %}
<h1>About us</h1>
<p>
    <!-- create an amazing story of why we created this amazing issue manager, something like apple foundation -->


    We created this amazing issue manager because we wanted to create a simple tool to manage our issues and tasks. <br>
    Tr3lo was created to be easy to use and that can be used by anyone. <br>
    This tool can be used by anyone, from a small company to a big company. <br>

    We are a small team of developers that wanted to create a simple tool to manage our issues and tasks. <br>

</p>
{% endblock %}