{% extends 'base.html' %}

{% block title%} Home {% endblock %}

{% block content %}
<h1>Tr3lo Manager</h1>
<p>
    Welcome to Tr3lo Manager, a simple issue management tool. <br>
    We offer a solution to manage your issues and tasks in a simple way.<br>
    By using Tr3lo Manager you can create, edit, delete and assign issues to your team members.<br>
    We also offer a simple way to manage your projects and assign issues to them.<br>

    All you need to do is to register and start using our tool.<br>
    Is as simple as that!<br><br>

    How to create a task:
<ul>
    <li>Click on the "Create Task" button</li>
    <li>Fill in the form</li>
    <li>Assing a status, by default is to do</li>
    <li>Assign a priority (low, medium, high)</li>
    <li>Click on the "Create" button</li>
</ul>

</p>
{% endblock %}